* {
    font-family: "JetBrains Mono NerdFont";
    font-size: 14px;
}

window#waybar { 
    background-color: #000000;
    color: #ffffff;
}

.modules-left {
	background-color: #000000;
}

.modules-right {
	background-color: #000000;
	padding: 0em 0.25em;
}

#workspaces button {
	padding: 0px 0.8em; 
 	min-width: 1px;
    border-radius: 0px;
    background-color: #000000;
	color: #ffffff;
}

#workspaces button.active {
    background-color: #285577;
}

#workspaces button.urgent {
    background-color: #ffffff;
    color: #900000;
}

#mode { 
	 background-color: #000000;
	 color: #ffffff;
     padding: 0px 5px 0px 5px;
     border: 1px solid #2f343a;
}

#window {
	 color: #00ff00;
	 background-color: #000000;
     padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}

window#waybar.empty {
	background-color: #000000;
}

#network, #clock, #memory, #load, #battery {
    padding: 0px 0.75em;
}

#tray{
   padding: 0em 0.25em;
   margin: 0em 0.25em;
}

#battery.critical {
   color: #ff0000;
}

#network.ethernet {
    color: #00ff00;
}

#network.wifi {
    color: #00ff00;
}

#network.disconnected {
    color: #ff0000;
}
